<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.SurplusGyTestCases.testclassAll2Run"/>
      <!--<class name="com.SurplusGyTestCases.checkoutTest"/>
      <class name="com.SurplusGyTestCases.productDetailsTest"/>
      <class name="com.SurplusGyTestCases.loginTest"/>
      <class name="com.SurplusGyTestCases.myCartTest"/>
      <class name="com.SurplusGyTestCases.dashBoardTest"/>  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
